<h1 mat-dialog-title class="title-box">Permanent account deletion!</h1>
<div mat-dialog-content class="content-box">
    <p>Your account, saved credentials and settings will be permanently deleted. To confirm, please enter ypur account password below and click "Delete Account".</p>
    <div class="password-input-box">
        <input class="password-input-acc-del" type="password" placeholder="Password" #password (keydown)="checkForCapslock($event)">
    </div>
</div>
<div mat-dialog-actions class="button-box">
    <button (click)="onDelete(password.value)" class="general-btn red-general-btn">Delete Account</button>
    <button (click)="onCancel()" class="general-btn green-general-btn">Cancel</button>
</div>