<h1 mat-dialog-title class="title-box">Export credentials.</h1>
<div mat-dialog-content class="content-box">
    <p>Your credentials will be exported in a .txt file with the passwords visible. Please enter the password to confirm and enter the full path of the folder, in which the credentials should be exported. Example: "D:\Downloads".</p>
    <div class="password-input-box">
        <input class="password-input-acc-del" type="password" placeholder="Password" #password (keydown)="checkForCapslock($event)">
    </div>
    <div class="simple-input-box">
        <input class="simple-input" type="text" placeholder="Full path" #path>
    </div>
</div>
<div mat-dialog-actions class="button-box">
    <button (click)="onExport(password.value, path.value)" class="general-btn red-general-btn">Export credentials</button>
    <button (click)="onCancel()" class="general-btn green-general-btn">Cancel</button>
</div>