/* :host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.account-container {
    width: 100%;
    height: 100%;
    color: var(--neutralLight);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid red;
}