<div id="register-container">
    <h1>Create Account</h1>
    <form [formGroup]="form" (ngSubmit)="register()">
        <label for="usernameInput">Username:</label>
        <input name="username" type="text" id="usernameInput" formControlName="username" [class]="usernameError() ? 'error' : ''">
        <label for="passwordInput">Password:</label>
        <input name="password" type="text" id="passwordInput" formControlName="password" [class]="passwordError() ? 'error' : ''">
        <label for="repeatPasswordInput">Repeat Password:</label>
        <input name="repeatPassword" type="text" id="repeatPasswordInput" formControlName="rePassword" [class]="rePasswordError() ? 'error' : ''">
        @if (isLoading()) {
            <app-loader></app-loader>
        } @else {
            <button class="general-btn" type="button" (click)="randomizePassword()">Fill in random password.</button>
            <button class="register-btn">Create Account</button>
        }
    </form>
</div>