<div id="login-container">
    <h1>Log In</h1>
    <form [formGroup]="form" (ngSubmit)="login()">
        <label for="username">Username:</label>
        <input [class]="usernameError() ? 'error' : ''" name="username" type="text" id="username" formControlName="username">
        <label for="password">Password:</label>
        <input [class]="passwordError() ? 'error' : ''" name="password" type="password" id="password" formControlName="password">
        @if (isLoading()) {
            <app-loader></app-loader>
        } @else {
            <button class="login-btn">Log In</button>
        }
    </form>
</div>