<div class="add-creds-box">
    <div class="add-top">
        <div class="add-top-control-elem">
            <button class="general-btn add-top-control-btn"><mat-icon svgIcon="cancel"
                    class="icon add-top-control-icon cancel-icon"></mat-icon></button>
        </div>
        <div class="add-top-control-elem">
            <button class="general-btn add-top-control-btn"><mat-icon svgIcon="confirm"
                    class="icon add-top-control-icon confirm-icon"></mat-icon></button>
        </div>
    </div>
    <div class="scroll-container">
        <form class="add-main">
            <div class="segment">
                <div class="top">
                    <div class="title-box">
                        <h2 class="unselectable">Title</h2>
                    </div>
                </div>
                <div class="middle">
                    <input type="text" value="JDASHSAD asdasjdajsd jashd asjdiasdas das">
                </div>
            </div>
            <div class="segment">
                <div class="top">
                    <div class="title-box">
                        <h2 class="unselectable">Username</h2>
                    </div>
                </div>
                <div class="middle">
                    <input type="text" value="JDASHSAD asdasjdajsd jashd asjdiasdas das">
                </div>
            </div>
            <div class="segment">
                <div class="top">
                    <div class="title-box">
                        <h2 class="unselectable">Password</h2>
                    </div>
                </div>
                <div class="middle">
                    <input type="text" value="JDASHSAD asdasjdajsd jashd asjdiasdas das">
                </div>
            </div>
    
        </form>
        <div class="add-bottom">
            <div class="button-box">
                <button class="general-btn unselectable" type="button">Generate Random Password</button>
            </div>
            <div class="title-box">
                <h2 class="unselectable">Generation settings:</h2>
            </div>
            <div class="settings-box">
    
                <label for="one" class="settings-option option-checked">Use lowercase characters
                    <input class="hidden-checkbox-input" type="checkbox" name="" id="one"></label>
    
                <label for="one" class="settings-option option-checked">Use uppercase characters
                    <input class="hidden-checkbox-input" type="checkbox" name="" id="one"></label>
    
                <label for="one" class="settings-option option-checked">Use digits
                    <input class="hidden-checkbox-input" type="checkbox" name="" id="one"></label>
    
                <label for="one" class="settings-option">Use symbols
                    <input class="hidden-checkbox-input" type="checkbox" name="" id="one"></label>
    
                <label for="one" class="settings-option option-checked">Exclude similars
                    <input class="hidden-checkbox-input" type="checkbox" name="" id="one"></label>
            </div>
            <div class="char-exclusion-box">
                <h2>Characters to exclude:</h2>
                <input type="text">
            </div>
        </div>
    </div>
</div>