<div class="cred-details-box">
    <div class="details-top">
        <div class="details-top-control-elem">
            <button class="general-btn details-top-control-btn"><mat-icon svgIcon="edit" class="icon details-top-control-icon"></mat-icon></button>
        </div>
        <div class="details-top-control-elem">
            <button class="general-btn details-top-control-btn"><mat-icon svgIcon="delete" class="icon details-top-control-icon"></mat-icon></button>
        </div>
    </div>
    <form class="details-main">
        <div class="segment">
            <div class="top">
                <div class="title-box">
                    <h2>Title ddddddddddddddddddddddddd</h2>
                </div>
                <div class="segment-controls-box">
                    <div class="segment-control-elem">
                        <button class="general-btn segment-control-btn"><mat-icon svgIcon="delete" class="icon segment-control-icon"></mat-icon></button>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <input type="text" value="JDASHSAD asdasjdajsd jashd asjdiasdas das">
            </div>
        </div>
    </form>
    <div class="details-bottom">

    </div>
</div>
