<div class="cred-details-box">
    <div class="details-top">
        <div class="details-top-control-elem">
            <button class="general-btn details-top-control-btn"><mat-icon svgIcon="edit" class="icon details-top-control-icon"></mat-icon></button>
        </div>
        <div class="details-top-control-elem">
            <button class="general-btn details-top-control-btn"><mat-icon svgIcon="delete" class="icon details-top-control-icon"></mat-icon></button>
        </div>
    </div>
    <div class="details-main">

    </div>
    <div class="details-bottom">

    </div>
</div>
