<div class="cred-details-box">
    <div class="details-top">
        <div class="details-top-control-elem">
            <button class="general-btn details-top-control-btn"><mat-icon svgIcon="edit" class="icon details-top-control-icon"></mat-icon></button>
        </div>
        <div class="details-top-control-elem">
            <button class="general-btn details-top-control-btn"><mat-icon svgIcon="delete" class="icon details-top-control-icon"></mat-icon></button>
        </div>
    </div>
    <form class="details-main">
        <div class="segment">
            <div class="top">
                <div class="title-box">
                    <h2 class="unselectable">Title</h2>
                </div>
            </div>
            <div class="middle">
                <input type="text" value="JDASHSAD asdasjdajsd jashd asjdiasdas das">
            </div>
            <div class="bottom">
                <div class="segment-controls-box">
                    <div class="segment-control-elem">
                        <button class="general-btn segment-control-btn"><mat-icon svgIcon="copy" class="icon segment-control-icon"></mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="segment">
            <div class="top">
                <div class="title-box">
                    <h2 class="unselectable">Username</h2>
                </div>
            </div>
            <div class="middle">
                <input type="text" value="JDASHSAD asdasjdajsd jashd asjdiasdas das">
            </div>
            <div class="bottom">
                <div class="segment-controls-box">
                    <div class="segment-control-elem">
                        <button class="general-btn segment-control-btn"><mat-icon svgIcon="copy" class="icon segment-control-icon"></mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="segment">
            <div class="top">
                <div class="title-box">
                    <h2 class="unselectable">Password</h2>
                </div>
            </div>
            <div class="middle">
                <input type="text" value="JDASHSAD asdasjdajsd jashd asjdiasdas das">
            </div>
            <div class="bottom">
                <div class="segment-controls-box">
                    <div class="segment-control-elem">
                        <button class="general-btn segment-control-btn"><mat-icon svgIcon="copy" class="icon segment-control-icon"></mat-icon></button>
                    </div>
                    <div class="segment-control-elem">
                        <button class="general-btn segment-control-btn"><mat-icon svgIcon="eye-open" class="icon segment-control-icon"></mat-icon></button>
                    </div>
                    <div class="segment-control-elem">
                        <button class="general-btn segment-control-btn"><mat-icon svgIcon="eye-closed" class="icon segment-control-icon"></mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
   
    </form>
</div>
