<div class="settings-container">
    <div class="overview">

        <div class="category" routerLink="/main/settings/account" routerLinkActive="selected">
            <div class="icon-box">
                <mat-icon svgIcon="account" class="icon"></mat-icon>
            </div>
            <div class="title-box">
                <h2>Account</h2>
            </div>
        </div>
        <div class="category" routerLink="/main/settings/appearance" routerLinkActive="selected">
            <div class="icon-box">
                <mat-icon svgIcon="moon" class="icon"></mat-icon>
            </div>
            <div class="title-box">
                <h2>Appearance</h2>
            </div>
        </div>

    </div>
    <div class="details">
        <router-outlet></router-outlet>
    </div>
</div>