<div class="home-container">
    <div class="left">

        <div class="tool-bar">
            <div class="search-elem">
                <div class="search-icon-box">
                    <mat-icon svgIcon="search" class="icon search-icon"></mat-icon>
                </div>
                <div class="search-creds-box">
                    <input type="text" class="search-creads" placeholder="Search by title" (change)="searchForCredentialInOverview($event)">
                </div>
            </div>
            <div class="add-creads-elem">
                <button class="general-btn add-creds-btn" (click)="openAddCredentials()"><mat-icon svgIcon="add" class="icon add-icon"></mat-icon></button>
            </div>
        </div>

        <div class="credentials-overview">

            @if (isOverviewLoading()) {
                <div class="cred-box-loader-box">
                    <app-loader></app-loader>
                </div>
            } @else {
                @if (credentialsOverviewData()) {
                    @for (credential of credentialsOverviewData(); track $index) {
                        <!-- add 'selected' to selected cred-box-->
                        <div class="cred-box" (click)="viewCredentialDetails(credential.id)" [class]="markSelectedById === credential.id ? 'selected' : ''">
                            <div class="cred-icon-box">
                                <mat-icon svgIcon="arrow-right" class="icon arrow-icon"></mat-icon>
                            </div>
                            <div class="cred-title-box">
                                <h2 class="unselectable">{{credential.title}}</h2>
                            </div>
                        </div>
                    }
                } @else {
                    <div class="no-creds">
                        <div class="no-creds-msg-and-icon-box">
                            <mat-icon svgIcon="empty-page" class="icon empty-page-icon"></mat-icon>
                            <h2 class="unselectable">No saved credentials.</h2>
                        </div>
                    </div>
                }
            }
            
        </div>

    </div>
    <div class="right">
        @if (showAddCreds()) {
            <app-add-cred></app-add-cred>
        } @else {
            @if (isDetailsDisplayed()) {
                @if (isDetailsLoading()) {
                    <app-loader></app-loader>
                } @else {
                    <app-cred-details [credentialsDetails]="credentialsDetailsData"></app-cred-details>
                }
            } @else {
                <div class="no-cred-selected">
                    <div class="no-cred-selected-msg-and-icon-box">
                        <mat-icon svgIcon="page-text" class="icon page-text-icon"></mat-icon>
                        <h2 class="unselectable">No credentials selected.</h2>
                    </div>
                </div>
            }
        }
    </div>
</div>